tensorflow-gpu==2.3.0
keras==2.3.0

matplotlib==3.5.1
seaborn==0.11.2
scikit-learn==1.0.2
scipy==1.4.1
numpy==1.18.5
pandas==1.4.1
tqdm==4.63
xarray==2022.3.0
xmltodict==0.12.0

PyWavelets==1.2.0
neo==0.10.2
mne==0.24.1

jupyter==1.0.0